.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: darkslateblue;
    box-shadow: 0 -400px 300px -300px transparent inset;

    animation-name: change;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes change {
    65% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    75% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    100% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    
    width: 100px;
    height: 36px;

    animation-name: swim;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes swim {
    from {
      transform: translate(150px);  
    }
    to {
      transform: translate(-700px);
    } 
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;
}

@keyframes smoking {
    to {
      transform: translateY(-20px) scale(1.5);
      opacity: 0.0;
    } 
}

.smoke-1 {
    top: -25px;
    right: 44px;

    animation-name: smoking;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

.smoke-2 {
    top: -25px;
    right: 42px;

    animation-name: smoking;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.smoke-3 {
    top: -25px;
    right: 49px;

    animation-name: smoking;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes spin {
    to {
      transform: rotate(1turn);
    } 
}

.sun {
    position: absolute;
    top: 30px;
    right: 50%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes sunrise {
    from {
        transform: rotate(-180deg);
    }
    to {
      transform: rotate(180deg);
    } 
}

.sun-wrapper {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: bottom center;

    animation-name: sunrise;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;

}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);  
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}


.cloud {
    position: absolute;
    left: -180px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;
    animation-name: move-cloud-1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move-cloud-1 {
    from {
      transform: translate(0, 0) scale(-0.3, 0.3);
    } to {
      transform: translate(700px) scale(-0.3, 0.3);
    } 
}

.cloud-2 {
    top: 50px;
    animation-name: move-cloud-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move-cloud-2 {
    from {
      transform: translate(0, 0) scale(0.5);
    } to {
      transform: translate(700px) scale(0.5);
    } 
}


.cloud-3 {
    top: 100px;
    animation-name: move-cloud-3;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move-cloud-3 {
    from {
      transform: translate(0, 0) scale(-0.7, 0.7);
    } to {
      transform: translate(700px) scale(-0.7, 0.7);
    } 
}


.cloud-4 {
    top: 170px;
    animation-name: move-cloud-4;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move-cloud-4 {
    from {
      transform: translate(0, 0);
    } to {
      transform: translate(700px);
    } 
}


.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}
